
body {
    font-family: 'Work Sans', sans-serif;
  /* background-image:url('https://cleanmyspace.com/wp-content/uploads/2017/08/how-to-hire-a-cleaning-service.jpg'); */
    font-size: 1.3em;
    /* background-repeat: no-repeat; */
    background-size: cover; 
    background-color:rgb(20, 19, 19);
    /* opacity: 4; */
  
  }
  .one {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  #two {
      position: fixed;
      overflow: auto;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* background-color: rgba(0, 0, 0, 0.5); */
      /* z-index: 2; */
  }
  nav{
    max-width:960px;
    margin:0 auto;
    padding:10px 0;
    margin-right:0%;
    
  }
  ul{
    text-align: right;
    }
    
 ul>li{
     display:inline-block;
  }
  nav>ul>li>a {
    padding:18px;
    margin-right:0;
    text-transform:uppercase;
    text-decoration:none;
    display:block;
    color:rgb(221, 10, 45);
  }
  nav>ul>li>a:hover {
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background:rgba(221, 109, 35, 0.678);
    color:rgba (0, 35, 122, 0.7);
  }
  


h1{
    display: flex;
    justify-content: center;
    color: blue;
    border:2px solid pink;
    background-color:rgb(0, 204, 255);
    font-style: oblique;
padding:18px;


}
p{
  color:rgb(216, 207, 207);
}
em{
  color:blue;
}
h2{
  color: rgb(0, 204, 255);
  display: flex;
  text-align: center;
}
table{
  border: 3px solid rgb(206, 2, 2);
  border-collapse: collapse;
  color: aquamarine;
  height:50%px;
  width: 50%;
}
#contacts{
  color: aquamarine;

}
img{
  display: inline-block;
  justify-content: space-around;
}
#copyright{
  color: aqua;
  text-align: center;
}